html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  overflow-x: hidden;
  line-height: 1;
  color: #fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
button,
input,
select,
textarea {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  vertical-align: middle;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
.green {
  color: #0d9e27;
}
.blue {
  color: #32579a;
}
.footer {
  color: #333333;
}
.sensor {
  color: #f7f8fb;
}
.form {
  color: #999999;
}
.wbc {
  background: #ffffff;
}
.bbg {
  background: #000000;
}
.gbc {
  background: #0d9e27;
}
.blbc {
  background: #32579a;
}
.fbc {
  background: #333333;
}
.sbc {
  background: #f7f8fb;
}
.ie8 .box-shadow {
  outline: 1px solid #cccccc;
}
/*FLOAT*/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.fl-n {
  float: none;
}
.both {
  clear: both;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.clearfix {
  /*&:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
    &:after { clear: both; }
    zoom: 1;*/
}
.list-s-none {
  list-style: none outside none;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.ttu {
  text-transform: uppercase;
}
.invert {
  text-decoration: none;
}
.invert:hover {
  text-decoration: underline;
}
i,
.italic {
  font-style: italic;
}
u {
  text-decoration: underline;
}
b {
  font-weight: bold;
}
.bold,
strong {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
/*PADDING*/
.p-0 {
  padding: 0px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-30 {
  padding: 30px;
}
.p-35 {
  padding: 35px;
}
.p-40 {
  padding: 40px;
}
.pt-0 {
  padding-top: 0px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-6 {
  padding-top: 6px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pr-0 {
  padding-right: 0px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-60 {
  padding-right: 60px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-40 {
  padding-left: 40px;
}
/*MARGIN*/
.m-0 {
  margin: 0px;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.m-25 {
  margin: 25px;
}
.m-30 {
  margin: 30px;
}
.m-35 {
  margin: 35px;
}
.m-40 {
  margin: 40px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-60 {
  margin-right: 60px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-60 {
  margin-left: 60px;
}
/*ALIGN*/
.va-t {
  vertical-align: top;
}
.va-b {
  vertical-align: bottom;
}
.va-m {
  vertical-align: middle;
}
.va-tt {
  vertical-align: text-top;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-j {
  text-align: justify;
}
/*WIDTH*/
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-50 {
  width: 50%;
}
.w-55 {
  width: 55%;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}
/*LINE-HEIGHT*/
.lh-xxxs {
  line-height: .25;
}
.lh-xxs {
  line-height: .5;
}
.lh-xs {
  line-height: .75;
}
.lh-s {
  line-height: 1;
}
.lh-n {
  line-height: 1.25;
}
.lh-l {
  line-height: 1.5;
}
.lh-xl {
  line-height: 1.75;
}
.lh-xxl {
  line-height: 2;
}
.lh-xxxl {
  line-height: 2.5;
}
/*DISPLAY*/
.none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-b {
  display: inline-block;
}
.of-h {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.bbn {
  border-bottom: none;
}
@font-face {
  font-family: 'getvoip_grotesque';
  src: url('../fonts/getvoip_grotesque.eot');
  src: url('../fonts/getvoip_grotesque.eot?#iefix') format('embedded-opentype'), url('../fonts/getvoip_grotesque.woff2') format('woff2'), url('../fonts/getvoip_grotesque.woff') format('woff'), url('../fonts/getvoip_grotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.getvoip_grotesque {
  font-family: 'getvoip_grotesque', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'arimo-bold';
  src: url('../fonts/arimo-bold.eot');
  src: url('../fonts/arimo-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/arimo-bold.woff2') format('woff2'), url('../fonts/arimo-bold.woff') format('woff'), url('../fonts/arimo-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.arimo-bold {
  font-family: 'arimo-bold', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'arimo-regular';
  src: url('../fonts/arimo-regular.eot');
  src: url('../fonts/arimo-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/arimo-regular.woff2') format('woff2'), url('../fonts/arimo-regular.woff') format('woff'), url('../fonts/arimo-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.arimo-regular {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'arimo-italic';
  src: url('../fonts/arimo-italic.eot');
  src: url('../fonts/arimo-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/arimo-italic.woff2') format('woff2'), url('../fonts/arimo-italic.woff') format('woff'), url('../fonts/arimo-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.arimo-italic {
  font-family: 'arimo-italic', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'arimo-bolditalic';
  src: url('../fonts/arimo-bolditalic.eot');
  src: url('../fonts/arimo-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/arimo-bolditalic.woff2') format('woff2'), url('../fonts/arimo-bolditalic.woff') format('woff'), url('../fonts/arimo-bolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.arimo-bolditalic {
  font-family: 'arimo-bolditalic', Arial, Helvetica, sans-serif;
}
.header__title {
  font-family: 'getvoip_grotesque', Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 5px;
}
.header__title:before {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
}
.header__subtitle {
  font-family: 'getvoip_grotesque', Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 15px;
  padding-top: 12px;
}
.header__title_bottom {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
}
.enter {
  display: inline-block;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  background: #0d9e27;
  float: right;
  position: relative;
  text-align: center;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -khtml-border-radius: 40px;
  border-radius: 40px;
  top: 22px;
  margin-right: 40px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
.enter:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: underline;
}
.enter__title {
  display: block;
  background: url(../images/enter.png) no-repeat 20px center;
  padding: 0 25px 0 50px;
}
.error {
  font-family: 'arimo-bolditalic', Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 20px;
  color: #32579a;
}
footer {
  background: #333333;
  color: #ffffff;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 130px;
  line-height: 130px;
}
.footer__cont {
  width: 85%;
  margin: auto;
}
.footer__cont a {
  color: #ffffff !important;
  text-decoration: none;
}
.footer__cont a:hover {
  text-decoration: underline;
}
.footer__links,
.footer__social {
  display: inline-block;
}
.footer__links {
  margin: auto;
  padding-left: 13%;
}
.footer__social {
  float: right;
}
.footer__name {
  padding-bottom: 10px;
}
.footer__italic {
  display: inline-block;
  font-family: 'arimo-italic', Arial, Helvetica, sans-serif;
  padding-left: 20px;
}
.block__bg_top {
  margin: auto;
  height: 740px;
  background: url(../images/bg_top2.png) no-repeat center center;
}
.block__bg {
  background: url(../images/block_bg.png) no-repeat center center;
  height: 720px;
}
.block__bg_device {
  margin: auto;
  height: 720px;
}
.block__bg_life {
  margin: auto;
  height: 720px;
  background: url(../images/life/life_one.png) no-repeat center center;
}
.block__top {
  color: #ffffff;
  margin: auto;
  padding-top: 246px;
  width: 100%;
}
.block__title {
  font-family: 'arimo-bold', Arial, Helvetica, sans-serif;
  font-size: 44px;
}
.block__text {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 70px;
  font-size: 26px;
  line-height: 41px;
}
.order {
  display: block;
  color: #ffffff;
  background: #0d9e27;
  text-decoration: none;
  cursor: pointer;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
  margin-top: 60px;
  font-size: 21px;
  width: 384px;
  height: 98px;
}
.order:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #32579a;
}
.order__title {
  text-transform: uppercase;
  font-family: 'arimo-bold', Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 20px;
  padding: 19px 0 0 50px;
}
.order__price {
  font-family: 'arimo-bold', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 38px;
  padding: 8px 0 0 0;
}
.order__top {
  display: block;
  color: #ffffff;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  cursor: default;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  font-size: 29px;
  width: 550px;
  height: 85px;
  line-height: 85px;
}
.order__top .order__title {
  text-transform: uppercase;
  font-family: 'arimo-bold', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 29px;
  padding-top: 0 !important;
  padding-left: 0 !important;
}
.preorder {
  text-align: center;
  width: 100%;
  height: 900px;
}
.preorder .title {
  color: #000000;
}
.preorder .order {
  margin: auto;
}
.preorder .order__price {
  padding: 8px 0 0 0 !important;
}
.preorder .nav__item {
  cursor: pointer;
}
.preorder .nav__item:hover {
  background: #32579a;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.preorder .nav__item:hover .nav__link {
  color: #ffffff;
}
.preorder .nav__item.active {
  background: #32579a;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.preorder .nav__item.active .nav__link {
  color: #ffffff;
}
.preorder .nav__item.active:hover {
  background: #32579a;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.preorder .nav__item.active:hover .nav__link {
  color: #ffffff;
}
.preorder .nav__link {
  color: #000000;
}
.preorder__form_link {
  color: #32579a;
}
.link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.vk,
.fb {
  display: inline-block !important;
}
.link__name {
  display: initial;
  border-bottom: 1px solid #5c5c5c;
}
.link__name:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-bottom: 1px solid #ffffff;
}
.vk {
  padding: 0 15px 0 25px;
  background: url(../images/social_icons/vk.png) no-repeat left center;
}
.fb {
  padding-left: 25px;
  background: url(../images/social_icons/fb.png) no-repeat 11px center;
}
.preorder__form {
  text-align: left;
  display: none;
  margin: auto;
  width: 678px;
  height: 470px;
}
.preorder__form .life__text {
  color: #000000;
  margin-top: 0px;
  text-align: justify;
  font-size: 16px;
  width: 700px;
  line-height: 24px !important;
}
.preorder__form.active {
  display: block;
}
.form__title {
  color: #999999;
  text-transform: uppercase;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 25px;
}
input {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  color: #000000;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #e5e5e5;
  background: #ffffff !important;
  outline: none;
  height: 58px;
  width: 670px;
  font-size: 20px;
}
input:focus {
  color: #000000;
  border: 1px solid #32579a;
}
textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  color: #000000;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: left;
  resize: none;
  border: 1px solid #e5e5e5;
  background: #ffffff !important;
  outline: none;
  height: 120px;
  width: 670px;
  font-size: 16px;
}
textarea:focus {
  color: #000000;
  border: 1px solid #32579a;
}
.video {
  text-align: center;
  width: 100%;
  height: 840px;
  background: url(../images/video_bg.png) no-repeat center center;
}
video {
  display: block;
  vertical-align: middle;
  padding-top: 260px;
  background: url(../images/video.png) no-repeat center center;
  width: 930px;
  height: 540px;
  margin: auto;
}
.main__nav {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding-top: 40px;
  padding-left: 40px;
}
.main__nav_item {
  display: inline-block;
  padding-right: 11px;
}
.main__nav_item:last-child {
  padding-right: 0px;
}
.main__nav_link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.main__nav_link:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: underline;
}
.nav {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  width: 990px;
  margin: auto;
  font-size: 18px;
}
.nav__list {
  margin-top: -15px;
  padding-bottom: 35px;
}
.nav__item {
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 23.5px 15px 23.5px;
  margin-bottom: 5px;
}
.nav__item:hover {
  background: #32579a;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav__item.active {
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #32579a;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 15px 23.5px 15px 23.5px;
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
.sensors {
  color: #000000;
  background: #f7f8fb;
  text-align: center;
  padding-bottom: 80px;
}
.title {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding: 70px 0 65px 0;
}
.sensors__block {
  vertical-align: top;
  margin: auto;
}
.sensors__img {
  display: inline-block;
  width: 395px;
  height: 600px;
  background: url(../images/sensors_block/device.png) no-repeat center center;
  background-size: 395px;
  margin-top: 30px;
}
.sensors__col {
  display: inline-block;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  vertical-align: top;
  font-size: 18px;
  width: 100%;
}
.sensors__col_item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  height: 115px;
  margin-bottom: 40px;
  line-height: 20px;
  width: 18%;
}
.sensors__col_hint {
  position: relative;
  display: none;
  vertical-align: top;
  font-size: 17px;
  border: 1px solid #dddddd;
  top: -116px;
  width: 100%;
  min-height: 145px;
  background: #ffffff;
}
.sensors__col_hint p {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 144px;
  vertical-align: middle;
  /*&:before {
            content: "";
            display: inline-block;
            min-height: inherit;
            height: 100%;
            vertical-align: middle;
        }*/
}
.status__icon {
  height: 65px;
}
.status__icon img {
  vertical-align: top;
}
.status__text {
  height: 50px;
}
.status__text p {
  display: block;
  position: relative;
  bottom: -11px;
}
/*.vid {
    background: url(../images/sensors_block/video.png) no-repeat center top;
}
.volt {
    background: url(../images/sensors_block/volt.png) no-repeat center top;
}
.water {
    background: url(../images/sensors_block/water.png) no-repeat center top;
}
.lamp {
    background: url(../images/sensors_block/lamp.png) no-repeat center top;
}
.wifi {
    background: url(../images/sensors_block/wifi.png) no-repeat center top;
}
.temp {
    background: url(../images/sensors_block/temp.png) no-repeat center top;
}
.door {
    background: url(../images/sensors_block/door.png) no-repeat center top;
}
.motion {
    background: url(../images/sensors_block/motion.png) no-repeat center top;
}
.socket {
    background: url(../images/sensors_block/socket.png) no-repeat center top;
}
.work {
    background: url(../images/sensors_block/work.png) no-repeat center top;
}
.wet {
    background: url(../images/sensors_block/wet.png) no-repeat center top;
}
.smoke {
    background: url(../images/sensors_block/smoke.png) no-repeat center top;
}
.sound {
    background: url(../images/sensors_block/sound.png) no-repeat center top;
}
.weather {
    background: url(../images/sensors_block/weather.png) no-repeat center top;
}
.safety {
    background: url(../images/sensors_block/safety.png) no-repeat center top;
}*/
.device {
  height: 720px;
  text-align: center;
}
.device__block {
  color: #000000;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: left;
  display: inline-block;
  line-height: 40px;
  padding: 250px 5px 0 0;
}
.device__block p {
  font-size: 32px;
}
.device__block .active {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  background: #32579a;
  font-size: 18px;
  padding: 7px 15px;
  border: 2px solid #32579a;
}
.device__block_list {
  padding-top: 20px;
}
.device__block_item {
  display: inline-block;
  padding-left: 20px;
}
.device__block_item:first-child {
  padding-left: 0px;
}
.device__link {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: #32579a;
  border-bottom: 2px dashed rgba(50, 87, 154, 0.7);
  font-size: 32px;
  /*.rounded-corners(10px); 
    font-size: 18px;
    padding: 7px 15px;
    border: 2px solid #03a9f4;
    color: #03a9f4;
    &:hover {
        .transition-duration(@duration:0.3s);
        .white;
        .blbc;
        border: 2px solid @blue;
    }*/
}
.device__link:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-bottom: 2px dashed #32579a;
}
.device__img {
  position: relative;
  display: inline-block;
  top: -132px;
  width: 480px;
  height: 480px;
  background-size: 480px;
}
.life {
  text-align: center;
  width: 100%;
  height: 720px;
}
.life .title {
  padding: 110px 0 65px 0;
}
.life .nav {
  padding-top: 80px;
}
.life__text {
  text-align: justify;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 16px;
  line-height: 37px;
  margin: auto;
  margin-top: 70px;
  width: 900px;
}
body {
  display: block;
  margin: auto;
  min-width: 1065px;
  max-width: 1910px;
}
.block__cont {
  width: 51%;
  margin: auto;
}
.top__img {
  position: absolute;
  width: 31%;
  min-width: 298px;
  min-height: 443px;
  max-width: 465px;
  top: 150px;
  background: url(../images/hand_s.png) no-repeat center center;
  background-size: 100%;
}
@media all and (min-width: 1220px) and (max-width: 1280px) {
  .main__nav_item {
    padding-right: 30px;
  }
  .device__block {
    padding: 250px 50px 0 30px;
  }
  .sensors__img {
    width: 500px;
    height: 670px;
    background-size: 496px;
  }
}
@media all and (min-width: 1281px) and (max-width: 1440px) {
  .main__nav_item {
    padding-right: 40px;
  }
  .device__block {
    padding: 250px 50px 0 30px;
  }
  .sensors__img {
    width: 520px;
    height: 670px;
    background-size: 512px;
  }
  .top__img {
    background: url(../images/hand.png) no-repeat center center;
    background-size: 100%;
  }
}
@media all and (min-width: 1441px) and (max-width: 1600px) {
  .main__nav_item {
    padding-right: 40px;
  }
  .device__block {
    padding: 250px 136px 0 30px;
  }
  .sensors__img {
    height: 735px;
    background-size: 567px;
  }
  .top__img {
    background: url(../images/hand.png) no-repeat center center;
    background-size: 100%;
  }
  .header__title {
    font-size: 72px;
  }
  .header__title_bottom {
    font-size: 29px;
  }
}
@media all and (min-width: 1601px) {
  .main__nav_item {
    padding-right: 40px;
  }
  .device__block {
    padding: 250px 200px 0 30px;
  }
  .sensors__img {
    width: 600px;
    height: 735px;
    background-size: 567px;
  }
  .top__img {
    background: url(../images/hand.png) no-repeat center center;
    background-size: 100%;
  }
  .header__title {
    font-size: 72px;
  }
  .header__title_bottom {
    font-size: 29px;
  }
}
.model__cont {
  text-align: center;
}
.model__img {
  display: inline-block;
  width: 52%;
  height: 619px;
  padding-top: 96px;
}
.model__order {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 42%;
  min-width: 500px;
  max-width: 630px;
  padding-top: 128px;
}
.model__text {
  color: #000000;
  font-family: 'arimo-bold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 43px;
}
.model__list {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 16px;
}
.model__item {
  background: url(../images/list.png) no-repeat left center;
  padding-left: 30px;
}
.model__hint {
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding: 22px 5px;
  background-color: #03a9f4;
  width: 90%;
  margin-top: 35px;
}
.advantage {
  color: #000000;
}
.advantage .title {
  text-align: center;
}
.advantage__green {
  background: #0d9e27;
  color: #ffffff;
}
.advantage__green_top {
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 28px;
  font-size: 21px;
  padding-top: 25px;
}
.advantage__green_list {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}
.advantage__green_item {
  display: inline-block;
  text-align: center;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  vertical-align: top;
  width: 50%;
  font-size: 20px;
  line-height: 24px;
}
.advantage__bottom {
  text-align: center;
  font-family: 'arimo-regular', Arial, Helvetica, sans-serif;
  font-size: 21px;
}
.advantage__bottom_title {
  padding-top: 40px;
  padding-bottom: 35px;
}
.advantage__bottom_item {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  line-height: 24px;
}
.advantage__bottom_item table {
  text-align: left;
}
.advantage__bottom_item table td {
  padding-bottom: 50px;
  padding-right: 20px;
}
/*# sourceMappingURL=style.css.map */