.block__bg_top {
    //.absolute;
    margin: auto;
    width: 940px;
    height: 683px;
    background: url(../images/bg_top.png) no-repeat  center center;
}
.block__bg_device {
    .absolute;
    z-index: -1;
    width: 940px;
    height: 780px;
    background: url(../images/bg_device.png) no-repeat center center;
}
.block__bg_life {
    .absolute;
    z-index: -1;
    width: 940px;
    height: 780px;
    background: url(../images/life/life_one.png) no-repeat center center;
}
