.block__bg_top {
    //.absolute;
    margin: auto;
    //width: 940px;
    height: 840px;
    background: url(../images/bg_top2.png) no-repeat  center center;
}
.block__bg {
    background: url(../images/block_bg.png) no-repeat  center center;
    height: 720px;
}
.block__bg_device {
    margin: auto; 
    height: 720px;
    //background: url(../images/bg_device.png) no-repeat center center;
}
.block__bg_life {
    margin: auto;
    height: 780px;
    background: url(../images/life/life_one.png) no-repeat center center;
}