footer {
    .fbc;
    .white;
    .arimo-regular;
    font-size: 14px;
    width: 100%;
    height: 130px;
    line-height: 130px;
}
.footer__cont {
    width: 85%;
    margin: auto;
    a {
        .white !important;
        .tdn;
        &:hover {
            .tdu;
        }
    }
}
.footer__links,
.footer__social {
    .inline-b;
}
.footer__contacts {

}
.footer__links {
    margin: auto;
    padding-left: 13%;
}
.footer__social {
    .fl-r;
}
.footer__name {
    padding-bottom: 10px;
}
.footer__italic {
    .inline-b;
    .arimo-italic;
    padding-left: 20px;
}