.order {
    .block;
    .white;
    .gbc;
    .tdn;
    .rounded-corners(40px);
    margin-top: 60px;
    font-size: 21px;
    width: 345px;
    height: 85px;
    &:hover {
        .transition-duration(@duration:0.3s);
        .blbc;
    }
}
.order__title {
    .ttu;
    .arimo-bold;
    .ta-c;
    padding-top: 20px;
}
.order__price {
    .arimo-regular;
    padding: 8px 0 0 44px;
}
.order__top {
    .block;
    .white;
    .tdn;
    .rounded-corners(10px);
    background: #03a9f4;
    cursor: default;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 29px;
    width: 550px;
    height: 85px;
    line-height: 85px;
    .order__title {
        .ttu;
        .arimo-bold;
        .ta-c;
        padding-top: 0 !important;
    }
}