.order {
    .block;
    .white;
    .gbc;
    .tdn;
    .rounded-corners(40px);
    margin-top: 60px;
    font-size: 21px;
    width: 345px;
    height: 85px;
    &:hover {
        
    }
}
.order__title {
    .ttu;
    .arimo-bold;
    .ta-c;
    padding-top: 20px;
}
.order__price {
    .arimo-regular;
    padding: 8px 0 0 44px;
}