body {
    .block;
    margin: auto;
    min-width: 1065px;
    max-width: 1910px;
}
.block__cont {
    width: 51%;
    margin: auto;
}
.top__img {
    .absolute;
    width: 31%;
    min-height: 443px;
    max-width: 576px;
    top: 150px;
    background: url(../images/hand_s.png) no-repeat center center;
    background-size: 100%;
}

@media all and (min-width: 1220px) and (max-width: 1280px) {
    .main__nav_item{padding-right: 30px;}
    //.block__cont {width:1128px;}
    .model__order {padding-left:700px !important;}
    .device__block {
        //width: 552px;
        padding: 250px 50px 0 30px;
    }
    .sensors__img {
        width: 500px;
        height: 670px;
        background-size: 496px;
    }
}
@media all and (min-width: 1281px) and (max-width: 1440px) {
    .main__nav_item{padding-right: 40px;}
    //.block__cont {width:1200px;}
    .model__order {padding-left:700px !important;}
    .device__block {
        //width: 552px;
        padding: 250px 50px 0 30px;
    }
    .sensors__img {
        width: 520px;
        height: 670px;
        background-size: 512px;
    }
}
@media all and (min-width: 1441px) and (max-width: 1600px) {
    .main__nav_item{padding-right: 40px;}
    //.block__cont {width:1338px;}
    .model__order {padding-left:745px !important;}
    .device__block {
        //width: 552px;
        padding: 250px 50px 0 30px;
    }
    .sensors__img {
        //width: 600px;
        height: 735px;
        background-size: 567px;
    }
}
@media all and (min-width: 1601px) {
    .main__nav_item{padding-right: 40px;}
    //.block__cont {width:1410px;}
    .model__order {padding-left:850px !important;}
    //.model__img {left:5%;}
    .device__block {
        //width: 552px;
        padding: 250px 50px 0 30px;
    }
    .sensors__img {
        width: 600px;
        height: 735px;
        background-size: 567px;
    }
}