body {
    .block;
    margin: auto;
    min-width: 940px;
    max-width: 1410px;
}
.block__cont {
    width: 940px;
    margin: auto;
}
@media all and (min-width: 1220px) and (max-width: 1280px) {
    .main__nav_item{padding-right: 30px;}
    .block__cont {width:1128px;}
    .block__top {
        width: 690px;
        padding-left: 400px;
    }
}
@media all and (min-width: 1281px) and (max-width: 1440px) {
    .main__nav_item{padding-right: 40px;}
    .block__cont {width:1200px;}
    .block__top {
        width: 690px;
        padding-left: 420px;
    }
}
@media all and (min-width: 1441px) and (max-width: 1600px) {
    .main__nav_item{padding-right: 40px;}
    .block__cont {width:1338px;}
    .block__top {
        width: 690px;
        padding-left: 225px;
    }
}
@media all and (min-width: 1601px) {
    .main__nav_item{padding-right: 40px;}
    .block__cont {width:1410px;}
    .block__top {
        width: 690px;
        padding-left: 225px;
    }
}