.preorder {
    .ta-c;
    .relative;
    width: 100%;
    height: 1030px;
    padding-bottom: 50px;
    .title {.black;}
    .order {
        margin: auto;
    }
    .order__price {
        padding: 8px 0 0 0 !important;
    }
    .nav__item {
        .pointer;
        &:hover {
            .blbc;
            .transition-duration(@duration:0.5s);
            .nav__link {.white;}
        } 
    }
    .nav__item.active {
        .blbc;
        .transition-duration(@duration:0.5s);
        .nav__link {.white;}
        &:hover {
            .blbc;
            .transition-duration(@duration:0.5s);
            .nav__link {.white;}
        }
    }
    .nav__link {
        .black;
    }
}
.preorder__form_link {
    color: @blue;
}

.preorder__left {
    .inline-b;
    width: 45%;
    max-width: 600px;
     .preorder__form , .form__title, input, .nav, textarea, .life__text {
        width: 100% !important;
    }
}
.preorder__right {
    .inline-b;
    .va-t;
    .ta-l;
    max-width: 600px;
    width: 45%;
    margin-left: 7%;
}
.preorder__list_item {
    margin-top: 10px;
    &:first-child {
        margin-top: 0px;
    }
}
.preorder__item_img {
    .inline-b;
    width: 200px;
}
.preorder__item_text {
    .inline-b;
    .black;
    .arimo-regular;
    font-size: 20px;
    line-height: 23px;
    width: 50%;
    padding-left: 20px;
}

