.sensors {
    .black;
    .sbc;
    .ta-c;
    padding-bottom: 115px;
}
.title {
    .arimo-regular;
    .ttu;
    font-size: 32px;
    padding: 70px 0 65px 0;
}
.sensors__block {
    .va-t;
    //width: 900px;
    margin: auto;
    //padding-left: 500px;
    //background: url(../images/sensors_block/device.png) no-repeat left center;
}
.sensors__img {
    .inline-b;
    width: 395px;
    height: 600px;
    background: url(../images/sensors_block/device.png) no-repeat center center;
    background-size: 395px;
    margin-top: 30px;
}
.sensors__col {
    .inline-b;
    .arimo-regular;
    .va-t;
    font-size: 22px;
    width: 100%;
}
.sensors__col_item {
    .inline-b;
    .ta-c;
    .va-t;
    cursor: default;
    height: 150px;
    //padding-top: 60px;
    margin-bottom: 40px;
    line-height: 27px;
    width: 18%;
}
.sensors__col_hint {
    .relative;
    //.none;
    .va-t;
    top: -175px;
    width: 100%;
    height: 150px;
    background: #ffffff;
    p {
        .block;
        padding-top: 40px;
    }
}
.status__icon {
    height: 70px;
    line-height: 70px;
    img {
        .va-m;
    }    
}
.status__text {
    height: 80px;
    p {
        .block;
        //padding-top: 40px;
    }
}

/*.vid {
    background: url(../images/sensors_block/video.png) no-repeat center top;
}
.volt {
    background: url(../images/sensors_block/volt.png) no-repeat center top;
}
.water {
    background: url(../images/sensors_block/water.png) no-repeat center top;
}
.lamp {
    background: url(../images/sensors_block/lamp.png) no-repeat center top;
}
.wifi {
    background: url(../images/sensors_block/wifi.png) no-repeat center top;
}
.temp {
    background: url(../images/sensors_block/temp.png) no-repeat center top;
}
.door {
    background: url(../images/sensors_block/door.png) no-repeat center top;
}
.motion {
    background: url(../images/sensors_block/motion.png) no-repeat center top;
}
.socket {
    background: url(../images/sensors_block/socket.png) no-repeat center top;
}
.work {
    background: url(../images/sensors_block/work.png) no-repeat center top;
}
.wet {
    background: url(../images/sensors_block/wet.png) no-repeat center top;
}
.smoke {
    background: url(../images/sensors_block/smoke.png) no-repeat center top;
}
.sound {
    background: url(../images/sensors_block/sound.png) no-repeat center top;
}
.weather {
    background: url(../images/sensors_block/weather.png) no-repeat center top;
}
.safety {
    background: url(../images/sensors_block/safety.png) no-repeat center top;
}*/