.sensors {
    .black;
    .sbc;
    .ttu;
    .ta-c;
    padding-bottom: 115px;
}
.sensors__title {
    .arimo-regular;
    font-size: 32px;
    padding: 70px 0 65px 0;
}
.sensors__block {
    width: 900px;
    margin: auto;
    padding-left: 500px;
    background: url(../images/sensors_block/device.png) no-repeat left center;
}
.sensors__col {
    .inline-b;
    .ta-l;
    .arimo-bold;
    font-size: 18px;
}
.sensors__col_item {
    padding-top: 60px;
    margin-top: 60px;
}
.vid {
    background: url(../images/sensors_block/video.png) no-repeat left top;
}
.volt {
    background: url(../images/sensors_block/volt.png) no-repeat left top;
}
.water {
    background: url(../images/sensors_block/water.png) no-repeat left top;
}
.lamp {
    background: url(../images/sensors_block/lamp.png) no-repeat left top;
}
.wifi {
    background: url(../images/sensors_block/wifi.png) no-repeat left top;
}
.temp {
    background: url(../images/sensors_block/temp.png) no-repeat left top;
}
.door {
    background: url(../images/sensors_block/door.png) no-repeat left top;
}
.motion {
    background: url(../images/sensors_block/motion.png) no-repeat left top;
}
.socket {
    background: url(../images/sensors_block/socket.png) no-repeat left top;
}
.work {
    background: url(../images/sensors_block/work.png) no-repeat left top;
}
.wet {
    background: url(../images/sensors_block/wet.png) no-repeat left top;
}
.smoke {
    background: url(../images/sensors_block/smoke.png) no-repeat left top;
}
.sound {
    background: url(../images/sensors_block/sound.png) no-repeat left top;
}
.weather {
    background: url(../images/sensors_block/weather.png) no-repeat left top;
}
.safety {
    background: url(../images/sensors_block/safety.png) no-repeat left top;
}