.device {
    height: 780px;
    .ttu;
}
.device__block {
    .black;
    .arimo-regular;
    margin: auto;
    font-size: 32px;
    width: 600px;
    line-height: 45px;
    padding-top: 290px;
    padding-bottom: 200px;
    padding-right: 700px;
    background: url(../images/device.png) no-repeat right center;
}
.device__link {
    .arimo-bold;
    .blue;
}