.device {
    height: 720px;
    .ta-c;
}
.device__block {
    .black;
    .arimo-regular;
    .ta-l;
    .inline-b;
    //width: 450px;
    line-height: 40px;
    padding: 250px 5px 0 0;
    p {
        font-size: 32px;
    }
    .active {
        .arimo-regular;
        .pointer;
        .rounded-corners(10px); 
        .white;
        .blbc;
        font-size: 18px;
        padding: 7px 15px;
        border: 2px solid @blue;
    }
}
.device__block_list {
    padding-top: 20px;
}
.device__block_item {
    .inline-b;    
    padding-left: 20px;
    &:first-child {
        padding-left: 0px;
    }
}
.device__link {
    .arimo-regular;
    .pointer;
    color: @blue;
    /*.rounded-corners(10px); 
    font-size: 18px;
    padding: 7px 15px;
    border: 2px solid #03a9f4;
    color: #03a9f4;
    &:hover {
        .transition-duration(@duration:0.3s);
        .white;
        .blbc;
        border: 2px solid @blue;
    }*/
}

.device__img {
    .relative;
    .inline-b;
    top: -132px;
    width: 480px;
    height: 480px;
    //background: url(../images/device.png) no-repeat center center;
    background-size: 480px;
}