.device {
    height: 780px;
    .ttu;
    .ta-c;
}
.device__block {
    .black;
    .arimo-regular;
    .ta-l;
    .inline-b;
    font-size: 32px;
    width: 450px;
    line-height: 45px;
    padding: 170px 5px 0 0;
}
.device__link {
    .arimo-bold;
    .blue;
    .pointer;
}
.device__img {
    .relative;
    .inline-b;
    top: -45px;
    width: 480px;
    height: 480px;
    //background: url(../images/device.png) no-repeat center center;
    background-size: 480px;
}