@font-face {
    font-family: 'getvoip_grotesque';
    src: url('../fonts/getvoip_grotesque.eot');
    src: url('../fonts/getvoip_grotesque.eot?#iefix') format('embedded-opentype'),
         url('../fonts/getvoip_grotesque.woff2') format('woff2'),
         url('../fonts/getvoip_grotesque.woff') format('woff'),
         url('../fonts/getvoip_grotesque.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@getvoip_grotesque:'getvoip_grotesque',Arial,Helvetica,sans-serif;
.getvoip_grotesque{font-family: @getvoip_grotesque};

@font-face {
    font-family: 'arimo-bold';
    src: url('../fonts/arimo-bold.eot');
    src: url('../fonts/arimo-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo-bold.woff2') format('woff2'),
         url('../fonts/arimo-bold.woff') format('woff'),
         url('../fonts/arimo-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@arimo-bold:'arimo-bold',Arial,Helvetica,sans-serif;
.arimo-bold{font-family: @arimo-bold};

@font-face {
    font-family: 'arimo-regular';
    src: url('../fonts/arimo-regular.eot');
    src: url('../fonts/arimo-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo-regular.woff2') format('woff2'),
         url('../fonts/arimo-regular.woff') format('woff'),
         url('../fonts/arimo-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@arimo-regular:'arimo-regular',Arial,Helvetica,sans-serif;
.arimo-regular{font-family: @arimo-regular};
