.preorder__form {
    .ta-l;
    .block;
    margin: auto;
    width: 678px;
    height: 500px;
}
.form__title {
    .form;
    .ttu;
    .arimo-regular;
    font-size: 14px;
    padding-top: 40px;
}
input {
    .rounded-corners(2px);
    .black;
    .arimo-regular;
    .ta-c;
    border: 1px solid #e5e5e5;
    background: #ffffff !important;
    outline: none;
    height: 58px;
    width: 670px;
    font-size: 20px;
    &:focus {
        color: #000000;
        border: 1px solid @blue;
    }
}