header {
    .getvoip_grotesque;
    .white;
    .ta-c;
    .ttu;
}
.header__title {
    font-size: 31px;
    letter-spacing: 2px;
    &:before {
        content: '';
        .block;
        width: 100%;
        height: 40px;
    }
}
.header__subtitle {
    font-size: 11px;
    letter-spacing: 8px;
    padding-top: 5px;
}