.block__top {
    .white;
    .inline-b;
    margin: 100px auto 0 auto;
    padding-left: 310px;
    width: 550px;
}
.block__title {
    .arimo-bold;
    font-size: 44px;
}
.block__text {
    .arimo-regular;
    padding-top: 25px;
    font-size: 18px;
    line-height: 28px;
}
.block__top_img {
    .inline-b;
    width: 480px;
    height: 480px;
    background: url(../images/hand.png) no-repeat center center;
    background-size: 400px;
}
