.block__top {
    .white;
    .inline-b;
    margin: 100px auto 0 auto;
    padding-left: 374px;
    width: 550px;
}
.block__title {
    .arimo-bold;
    font-size: 44px;
}
.block__text {
    .arimo-regular;
    .ta-c;
    padding-top: 50px;
    font-size: 18px;
    line-height: 28px;
}
.block__top_img {
    .inline-b;
    .absolute;
    top: 200px;
    width: 400px;
    height: 445px;
    background: url(../images/hand.png) no-repeat center center;
    background-size: 400px;
}
