.model__img {
    .inline-b;
    .relative;
    width: 1008px;
    height: 619px;
    background: url(../images/models.png) no-repeat center center;
    top: 90px;
    //left: -7%;
}
.model__order {
    .inline-b;
    .relative;
    top: -423px;
    right: -50%;
    width: 42%;
    padding-left: 50px;
}
.model__text {
    .black;
    .arimo-regular;
    font-size: 32px;
    line-height: 43px;
}